<html>
    <head>
        <meta charset="UTF-8">
        <title>School names</title>
        <link rel="stylesheet" href="jj.css" type="text/css">
    </head>


    <style>



        *{
            margin: 0;
        }
        
        a{
           text-decoration: none; 
           color:white;
           font-family: Arial;
         
        }
        
        
        
              body{
        
                background-color: #000000;
        
              }
        
        
              nav{
        
            
                background-color: #222222;
                height: 60px;
                width: 100%;
        
              }
        
            </style>

    <body style="background-color:#000000; color: white;">

      
        <div style="opacity: 0.3; background-image: url(/two.jpeg); position: absolute; z-index: -1; width:100% ;height: 730px; background-size: 100% ; background-position: bottom left;">
        </div>
        
    

        <div class="logo" style="margin: 20px;">
            <img src="LINCOLN LOGO.JPG"> 
        </div>
       

        <br>

        <div class="srch">
     
        
        </div>

        <h1 style="margin-left: 20px;">ABOUT US</h1>
        <br>


        <div style="margin-left: 20px;">


     
        John Tombra Ogiri  
        LUC/FOCSM/ADM/0272 
        <br>

        Akibu Abubakar Abdullahi
        LUC/FOCSAM/ADM/066
        <br>

        Hussaini Abubakar Lema
        LUC/FOCSAM/ADM/067
        <br>

        Abdulrahman Yusuf Ismail
        LUC/FOCSAM/ADM/077
        <br>

        Emmanuel Ebuka
        LUC/FOCSMM/DSEBIT/0343
        <br>

        Ugochukwu Emmanuel Ekwe
        LUC/FOCSAMM/DSEBIT/00320

    </div>
</body>
</html>       